.white-text {
   color: rgb(255, 255, 255);
}

.btn:focus {
   box-shadow: none !important;
}

.btn-primary {
   border: none !important;
   background-color: rgb(39, 0, 129) !important;
}

.btn-primary:hover {
   background-color: rgb(32, 32, 32) !important;
}